## NYC 311 Complaint Dataset Analysis
*By Amir Edry*

This notebook uses data from NYC Open Data to answer the following questions:


1. [Consider only the 10 most common overall complaint types. For each borough, how many of each of those 10 types were there in 2017?](#section_ID1)

2. [Consider only the 10 most common overall complaint types.  For the 10 most populous zip codes, how many of each of those 10 types were there in 2017?](#section_ID3)

3. [Considering all complaint types. Which boroughs are the biggest "complainers" relative to the size of the population in 2017? Meaning, calculate a complaint-index that adjusts for population of the borough.](#section_ID3)

Data sets:
1. 2010 US Census Population By Zip Code dataset(ZCTA)


2. The dataset for the analysis can be download from [NYC Open Data]("https://nycopendata.socrata.com/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9") or access programmaticly using [sodapy]("https://github.com/xmunoz/sodapy"), a Python client for the [Socrata Open Data API]("https://dev.socrata.com/foundry/data.cityofnewyork.us/fhrw-4uyv"). While the dataset includes all New York City 311 service requests from 2010 to the present, in this analysis I'll be focusing only on complanits made between January 1, 2017 to December 31, 2017.

***

<font style="color:rgba(0, 0, 0, 0.8); font-size:18px; font-style: italic;">Load the 311 service requests data set</font>

The first thing to do is to read the *311-service-requests-nyc-2017* dataset. This is the subset of the *"311 Service Requests from 2010 to Present"* dataset. It includes four columns with 2,445,422 rows. It was downloaded as a CSV file from NYC Open Data and is available in the "data" folder.

In [4]:
import pandas as pd
import numpy  as np
import json

In [12]:
# Read in the 311 Service Requests data set for 2017
data = pd.read_csv('../src/data/311-service-requests-nyc-2017.csv',
                            header=0,
                            names=['created_date', 'borough', 'complaint_type', 'incident_zip'],
                            dtype = np.object)

# Read in the 2010 US Census Population By Zip Code dataset
population = pd.read_csv('../src/data/ztca.csv', header=0,  names=['incident_zip','population'], 
                         dtype = np.object)

***

<font style="color:rgba(0, 0, 0, 0.8); font-size:18px; font-style: italic;">Explore the data set</font>

*Find out information such as shape of the data set, types of the data, and missing values with focus on the Borough , Complaint Type, and Incident Zip Code columns*

In [13]:
data.head()

              created_date   borough  complaint_type incident_zip
0  2017-01-01T00:00:00.000  BROOKLYN          Rodent        11234
1  2017-01-01T00:00:00.000  BROOKLYN          Rodent        11249
2  2017-01-01T00:00:00.000    QUEENS          Rodent        11435
3  2017-01-01T00:00:00.000    QUEENS  Food Poisoning        11372
4  2017-01-01T00:00:00.000    QUEENS  Food Poisoning        11105

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445422 entries, 0 to 2445421
Data columns (total 4 columns):
created_date      object
borough           object
complaint_type    object
incident_zip      object
dtypes: object(4)
memory usage: 74.6+ MB

In [15]:
data.shape

(2445422, 4)

In [16]:
data.isnull().sum()

created_date           0
borough                0
complaint_type         0
incident_zip      102157
dtype: int64

<font style="color:rgba(0, 0, 0, 0.8); font-size:16px; font-style: italic;">Examine the Borough column</font>

In [17]:
data['borough'].unique().tolist()

['BROOKLYN', 'QUEENS', 'MANHATTAN', 'BRONX', 'STATEN ISLAND', 'Unspecified']

In [18]:
data['borough'].value_counts()

BROOKLYN         760965
QUEENS           586910
MANHATTAN        480298
BRONX            449048
STATEN ISLAND    126715
Unspecified       41486
Name: borough, dtype: int64

<font style="color:rgba(0, 0, 0, 0.8); font-size:16px; font-style: italic;">Examine the Complaint Type column</font>

In [19]:
print('Number of unique complaint types:', len(data['complaint_type'].unique()))
print('Most frequent Complaint Type:', data['complaint_type'].value_counts().idxmax())

Number of unique complaint types: 222
Most frequent Complaint Type: Noise - Residential

<font style="color:rgba(0, 0, 0, 0.8); font-size:16px; font-style: italic;">Examine the Incident Zip Code column</font>

In [20]:
len(data['incident_zip'].unique())
print('Most frequent Complaint Type:', data['incident_zip'].value_counts().head())

Most frequent Complaint Type: 11226    42131
11385    35089
10467    34084
11207    30778
10453    29705
Name: incident_zip, dtype: int64

In [21]:
# Drop rows with missing borough value
complaint = data.loc[data['borough'] != 'Unspecified']

In [22]:
complaint['borough'].unique().tolist()

['BROOKLYN', 'QUEENS', 'MANHATTAN', 'BRONX', 'STATEN ISLAND']

 ***<a id="section_ID1">QUESTION ONE. TOP COMPLAINTS BY BOROUGH</a>***

In [23]:
# Top ten most frequently occurring complaint types
top_ten_complaints = complaint['complaint_type'].value_counts().head(10)
top_ten_complaints

Noise - Residential        229458
HEAT/HOT WATER             213521
Illegal Parking            144828
Blocked Driveway           135059
Street Condition            93222
Street Light Condition      82807
UNSANITARY CONDITION        79282
Noise - Street/Sidewalk     72868
Water System                65096
Noise                       60168
Name: complaint_type, dtype: int64

In [24]:
top_complaints = complaint.loc[complaint['complaint_type'].isin(top_ten_complaints.index.tolist())]

In [25]:
top_complaints.head()

               created_date    borough       complaint_type incident_zip
35  2017-01-01T00:00:59.000      BRONX       HEAT/HOT WATER        10467
36  2017-01-01T00:01:43.000     QUEENS     Blocked Driveway        11368
37  2017-01-01T00:02:54.000   BROOKLYN  Noise - Residential        11209
38  2017-01-01T00:03:41.000  MANHATTAN  Noise - Residential        10040
39  2017-01-01T00:03:42.000      BRONX       HEAT/HOT WATER        10470

***TOP 10 COMPLAINTS BY BOROUGH***

In [26]:
top_complaints['complaint_type'].groupby(top_complaints['borough']).value_counts()

borough        complaint_type
BRONX          HEAT/HOT WATER             68718
               Noise - Residential        57663
               Blocked Driveway           24574
               UNSANITARY CONDITION       24561
               Street Light Condition     18410
               Illegal Parking            16122
               Noise - Street/Sidewalk    14025
               Street Condition           11761
               Water System               10217
               Noise                       3134
BROOKLYN       Noise - Residential        67629
               HEAT/HOT WATER             66984
               Illegal Parking            55380
               Blocked Driveway           49302
               UNSANITARY CONDITION       26659
               Street Condition           25432
               Street Light Condition     22458
               Noise - Street/Sidewalk    21313
               Water System               19809
               Noise                      15421
MANHATTAN      Noise - Residential        51026
               HEAT/HOT WATER             46529
               Noise - Street/Sidewalk    29147
               Noise                      29002
               Illegal Parking            19687
               Street Condition           14840
               UNSANITARY CONDITION       14635
               Street Light Condition     11077
               Water System               10929
               Blocked Driveway            3428
QUEENS         Blocked Driveway           54290
               Noise - Residential        46396
               Illegal Parking            46065
               Street Condition           30629
               HEAT/HOT WATER             29217
               Street Light Condition     24258
               Water System               18792
               UNSANITARY CONDITION       11474
               Noise                      10685
               Noise - Street/Sidewalk     7530
STATEN ISLAND  Street Condition           10560
               Illegal Parking             7574
               Noise - Residential         6744
               Street Light Condition      6604
               Water System                5349
               Blocked Driveway            3465
               HEAT/HOT WATER              2073
               UNSANITARY CONDITION        1953
               Noise                       1926
               Noise - Street/Sidewalk      853
Name: complaint_type, dtype: int64

***

***<a id="section_ID2">QUESTION TWO. TOP COMPLAINTS BY ZIP CODES</a>***

In [27]:
# Consider only the 10 most common overall complaint types (the top_complaint DataFrame).
# Join the two DataFrames (top_complaints, population) based on the incident_zip key.

complaint_by_zipcode = top_complaints.merge(population)
complaint_by_zipcode['population'] = complaint_by_zipcode['population'].astype('int')

In [30]:
# Top 10 most populous zip codes 
top_zipcodes = complaint_by_zipcode.drop_duplicates(['incident_zip'])
top_zipcodes = top_zipcodes.sort_values(by='population', ascending=False)

top_ten_zipcode = top_zipcodes['incident_zip'].values[:10]
top_ten_zipcode

array(['11368', '11226', '11373', '11220', '11385', '10467', '10025',
       '11208', '11236', '11207'], dtype=object)

***TOP 10 COMPLAINTS BY TOP 10 POPULOUS ZIP CODES***

In [31]:
top_complaint_by_populous_zipcode = complaint_by_zipcode[complaint_by_zipcode.incident_zip.isin(top_ten_zipcode)]
top_complaint_by_populous_zipcode['complaint_type'].groupby(
    top_complaint_by_populous_zipcode['incident_zip']).value_counts()

incident_zip  complaint_type
10025         HEAT/HOT WATER             2397
              Noise - Residential        2085
              Noise                      1398
              Noise - Street/Sidewalk    1224
              Illegal Parking             735
              UNSANITARY CONDITION        714
              Street Condition            628
              Water System                481
              Blocked Driveway            125
              Street Light Condition       21
10467         HEAT/HOT WATER             6041
              Noise - Residential        5803
              UNSANITARY CONDITION       2192
              Blocked Driveway           2067
              Illegal Parking             982
              Noise - Street/Sidewalk     712
              Street Condition            612
              Water System                560
              Street Light Condition      407
              Noise                       285
11207         Noise - Residential        3060
              HEAT/HOT WATER             2461
              Blocked Driveway           2061
              UNSANITARY CONDITION       1621
              Illegal Parking            1495
              Street Condition           1142
              Street Light Condition      932
              Water System                757
              Noise - Street/Sidewalk     558
              Noise                       199
                                         ...
11368         Blocked Driveway           4380
              Noise - Residential        2460
              HEAT/HOT WATER             1620
              Illegal Parking            1250
              Noise - Street/Sidewalk     684
              UNSANITARY CONDITION        639
              Water System                617
              Street Condition            561
              Street Light Condition      444
              Noise                       158
11373         HEAT/HOT WATER             3408
              Blocked Driveway           2623
              Noise - Residential        1841
              Illegal Parking            1270
              UNSANITARY CONDITION        756
              Street Condition            691
              Water System                372
              Street Light Condition      362
              Noise - Street/Sidewalk     304
              Noise                       270
11385         Illegal Parking            4129
              Blocked Driveway           3039
              Noise - Residential        2609
              HEAT/HOT WATER             1526
              Water System               1240
              Street Condition           1232
              Street Light Condition      791
              UNSANITARY CONDITION        647
              Noise - Street/Sidewalk     607
              Noise                       507
Name: complaint_type, Length: 100, dtype: int64

***

***<a id="section_ID3">QUESTION THREE. COMPLAINT INDEX</a>***

In [32]:
# Drop rows with missing borough value
complaint = data.loc[data['borough'] != 'Unspecified']

In [33]:
complaint_population = complaint.merge(population)
complaint_population['population'] = complaint_population['population'].astype('int')

In [34]:
# Number of complaints per borough in 2017
complaint_borough = complaint_population.groupby(['borough']).agg({'complaint_type': 'count'})['complaint_type']
complaint_borough

borough
BRONX            432982
BROOKLYN         737359
MANHATTAN        461523
QUEENS           571610
STATEN ISLAND    125506
Name: complaint_type, dtype: int64

In [35]:
# The population of the boroughs of New York City 
population_borough = complaint_population.drop_duplicates(subset='incident_zip')
total_population_borough = population_borough.groupby(['borough']).agg({'population': 'sum'})['population']
total_population_borough

borough
BRONX            1437243
BROOKLYN         2504700
MANHATTAN        1595338
QUEENS           2390901
STATEN ISLAND     468730
Name: population, dtype: int64

In [36]:
idx = complaint_borough/total_population_borough
idx

borough
BRONX            0.301259
BROOKLYN         0.294390
MANHATTAN        0.289295
QUEENS           0.239077
STATEN ISLAND    0.267758
dtype: float64